%p= message.body
%ul
  - message.comments.each do |comment|
    = render partial: 'comments/comment', locals: { comment: comment }
%p= render 'comments/form', commentable: message
%span= time_ago_in_words(message.created_at)
ago by
= link_to "#{message.user.email}", wall_path(message.user.wall.id)
- if @user.id == current_user.id
  %span= link_to "Delete", message, method: :delete, data: { confirm: 'Are you sure?' }
%hr
