%h1= @user.email
- if @users.present?
  %h3 Walls list
  - @users.each do |user|
    %ul
      = wall_link(user.wall)
- else
  %p Only you on this app ((
= render 'messages/form'
%ul= render partial: 'messages/message', collection: @messages, as: :message
= paginate @messages
